@font-face {
  font-family: 'Montserrat SemiBold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg"); }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold; }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg"); }

* {
  font-family: "Montserrat Medium";
  font-size: 10px; }

h2 {
  font-family: "Montserrat Bold";
  font-size: 2.3rem;
  color: #2e2e2e; }

a {
  color: #2e2e2e;
  text-decoration: underline;
  transition-duration: 0.2s; }
  a:hover {
    color: #DE1300;
    transition-duration: 0.2s; }

.header {
  height: 800px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/header-bg.jpg) 50% 40%;
  background-repeat: no-repeat;
  background-size: cover; }
  .header-nav {
    position: relative;
    max-height: 100px;
    font-size: 16px;
    background-color: #ffffff; }
    .header-nav__logo {
      margin: 32px 0px 32px; }
    .header-nav__phone {
      margin-top: 26px; }
      .header-nav__phone p {
        font-size: 1.6rem;
        margin: 0px;
        font-family: "Montserrat Bold"; }
      .header-nav__phone a {
        font-size: 1.6rem;
        font-family: "Montserrat Bold"; }
    .header-nav__item ul {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin-top: 35px; }
    .header-nav__item li {
      list-style: none; }
      .header-nav__item li a {
        font-size: 1.4rem;
        font-family: "Montserrat Bold";
        text-decoration: none;
        padding-bottom: 38px;
        transition-duration: 0.2s; }
        .header-nav__item li a:hover {
          color: #DE1300;
          border-bottom: 4px solid #DE1300;
          transition-duration: 0.2s; }
  .header-title {
    color: #ffffff;
    font-family: "Montserrat Bold";
    text-align: left; }
    .header-title h1 {
      margin: 180px 0px 0px 0px;
      font-size: 12rem;
      font-family: "Montserrat Bold"; }
    .header-title span {
      margin-top: 20px;
      font-size: 3.8rem;
      font-family: "Montserrat Bold"; }

@media only screen and (max-width: 1025px) {
  h2 {
    font-size: 1.9rem; }
  .header {
    height: 700px; } }

@media only screen and (max-width: 1023px) {
  .header-nav__item {
    display: none; }
  .header-title h1 {
    font-size: 9rem; }
  .header-title span {
    font-size: 2.4rem; } }

@media only screen and (max-width: 767px) {
  .header {
    max-height: 600px; }
    .header-nav__item, .header-nav__phone {
      display: none; }
    .header-title h1 {
      font-size: 6rem; }
    .header-title span {
      font-size: 2.2rem; } }
