@import "_fonts.sass"

$color-item:      				#DE1300
$color-white:     				#ffffff
$color-black:							#2e2e2e

=MontM()
	font-family: "Montserrat Medium" 
=MontB()
	font-family: "Montserrat Bold"

*
	+MontM()
	font-size: 10px
h2 
	+MontB 
	font-size: 2.3rem
	color: $color-black
h3 
	+MontB
	font-size: 2.1rem
h4 
	+MontB
	font-size: 1.6rem
	margin-bottom: 12px
a 
	color: $color-black
	text-decoration: underline
	transition-duration: 0.2s
	&:hover
		color: $color-item
		transition-duration: 0.2s
section 
	margin-bottom: 80px
p 
	+MontM
	font-size: 1.8rem
	letter-spacing: 1px
	color: $color-black

.header 
	height: 700px
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/header-bg.jpg) 50% 40%
	background-repeat: no-repeat
	background-size: cover
	&-nav 
		position: relative
		max-height: 100px
		font-size: 16px
		background-color: $color-white
		&__logo
			margin: 32px 0px 32px
		&__phone 
			margin-top: 26px
			span
				display: block
				font-size: 1.6rem
				margin: 0px
				+MontB
			a 
				font-size: 1.6rem
				+MontB
		&__item 
			ul
				display: flex
				justify-content: space-around
				flex-direction: row
				margin-top: 35px
			li 
				list-style: none
				a 
					font-size: 1.4rem
					+MontB
					text-decoration: none
					padding-bottom: 33px
					transition-duration: 0.2s
					&:hover
						color: $color-item
						border-bottom: 4px solid $color-item
						transition-duration: 0.2s
	&-title
		color: $color-white
		+MontB
		text-align: left
		h1 
			margin: 180px 0px 0px 0px
			font-size: 12rem
			+MontB
		span 
			margin-top: 20px
			font-size: 3.8rem
			+MontB
.briefly 
	h2 
		margin-bottom: 20px
.shop 
	position: relative
	&-item 
		width: 100%
		height: 170px
		margin: 20px 0px
		border-radius: 10px
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
		&__img 
			display: flex 
			justify-content: center
			margin: 50px 0px 
			img 
				padding-left: 5px
				width: 100%
				height: 100%
				max-width: 80px
				max-height: 80px
		&__text 
			display: flex
			justify-content: space-between
			h3 
				display: inline
				margin-top: 7rem
				text-align: left
			a 
				display: inline
				font-size: 1.8rem
				text-align: right
			h4 
				text-align: right
		&__link 
			display: flex 
			flex-direction: column
			justify-content: center
			padding: 20px 0px
			h3 
				display: none
		&__visible 
			text-align: center 
			font-size: 1.8rem
			+MontM


@media only screen and (max-width: 1025px)
	h2 
		font-size: 1.9rem
	.header 
		height: 700px
		&-nav
			&__item				
@media only screen and (max-width: 1023px)
	.header 
		&-nav
			&__item 
				display: none	
		&-title
			h1 
				font-size: 9rem
			span 
				font-size: 2.4rem
@media only screen and (max-width: 767px)
	p
		font-size: 1.5rem
	section 
		margin-bottom: 60px
	.header
		max-height: 550px
		&-nav
			&__item, &__phone 
				display: none	
		&-title
			h1 
				font-size: 6rem
			span 
				font-size: 2.2rem
	.shop 
		&-item 
			h3 
				display: none
			&__img 
				img 
					margin-top: 20px
					width: 55px
					height: 60px
			&__link
				margin: -70px auto 0 auto
				h3
					text-align: right
					font-size: 1.6rem
					display: inline-block
				a 
					font-size: 1.6rem
@media only screen and (max-width: 425px)
	.shop 
		&-item 
			&__img 
				img 
					width: 50px
					height: 45px
					margin-left: 30px
			