@import "_fonts.sass"

$color-item:      				#DE1300
$color-white:     				#ffffff
$color-black:							#2e2e2e

=MontM()
	font-family: "Montserrat Medium" 
=MontB()
	font-family: "Montserrat Bold"

*
	+MontM()
	font-size: 10px
	outline: none
h2 
	+MontB 
	font-size: 2.3rem
	color: $color-black
h3 
	+MontB
	font-size: 2.1rem
h4 
	+MontB
	font-size: 1.6rem
	margin-bottom: 12px
a 
	color: $color-black
	text-decoration: underline
	transition-duration: 0.2s
	&:hover
		color: $color-item
		transition-duration: 0.2s
.prev, .next 
	position: absolute
	top: 45%
	height: 30px
	width: 30px
	z-index: 10
.prev 
	left: -10%
.next
	right: -10%
section 
	padding-top: 100px
p 
	+MontM
	font-size: 1.6rem
	letter-spacing: 1px
	color: $color-black

.header 
	height: 700px
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/header-bg.jpg) 50% 40%
	background-repeat: no-repeat
	background-size: cover
	&-nav 
		height: 80px
		font-size: 16px
		background-color: $color-white
		box-shadow: 4px 0px 10px $color-black
		margin-top: 0	
		&__logo a
			display: block
			margin: 23px 0px 20px	
			+MontB 
			font-size: 2.3rem
			color: $color-black
			text-decoration: none
		&__phone 
			margin-top: 18px
			span
				display: block
				font-size: 1.6rem
				margin: 0px
				+MontB
			a 
				font-size: 1.6rem
				+MontB
		&__item 
			ul
				display: flex
				justify-content: space-around
				flex-direction: row
				margin-top: 30px
			li 
				list-style: none
				a 
					font-size: 1.4rem
					+MontB
					text-decoration: none
					padding-bottom: 28px
					transition-duration: 0.2s
					&:hover
						color: $color-item
						border-bottom: 4px solid $color-item
						transition-duration: 0.2s
	&-title
		color: $color-white
		+MontB
		text-align: left
		h1 
			padding-top: 250px
			font-size: 12rem
			+MontB
		span 
			margin-top: 20px
			font-size: 3.8rem
			+MontB
.briefly 
	h2 
		margin-bottom: 20px
.shop 
	position: relative
	&-item 
		width: 100%
		height: 170px
		margin: 20px 0px
		border-radius: 10px
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
		&__img 
			display: flex 
			justify-content: center
			margin: 50px 0px 
			img 
				padding-left: 5px
				width: 100%
				height: 100%
				max-width: 80px
				max-height: 80px
		&__text 
			display: flex
			justify-content: space-between
			h3 
				display: inline
				margin-top: 7rem
				text-align: left
			a 
				display: inline
				font-size: 1.8rem
				text-align: right
			h4 
				text-align: right
		&__link 
			display: flex 
			flex-direction: column
			justify-content: center
			padding: 20px 0px
			h3 
				display: none
		&__visible 
			text-align: center 
			font-size: 1.8rem
			+MontM
.slider
	max-height: 650px
	.slick-center
		opacity: 1
		transition-duration: 0.7s
	.slick-cloned 
		transition-duration: 0.7s
	.slick-list 
		padding: 0 90px
	&-block
		position: relative
		padding: 20px
		margin: 20px 0 
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
		border-radius: 10px
	&-item 
		opacity: 0.5
		margin: 0 auto
		text-align: center
		transition-duration: 0.7s
		img 
			max-width: 700px
			height: auto
			border-radius: 10px
.rent 
	margin-top: 30px
	h2 
		margin-bottom: 40px
.feedback
	a 
		text-decoration: none
	&-form 
		width: 100%
		max-width: 500px
		margin: 20px auto 25px auto
		padding: 40px 50px 
		border-radius: 10px
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
		h2 
			margin-bottom: 20px
			text-align: center
		form
			display: flex
			justify-content: space-around
			flex-direction: column
		input, button
			width: 100%
			margin: 5px auto
			font-size: 1.6rem
			border-radius: 5px
		input 
			display: inline-block !important
			max-width: 500px
			padding: 10px
			font-size: 1.6rem
			border: 2px solid $color-black
		button
			width: 100%
			max-width: 220px
			height: 40px
			margin-top: 15px	
			background-color: $color-item
			border: none
			-webkit-transition: 0.5s
			transition: 0.5s
			&:hover 
				color: $color-white
				background-color: $color-item
				-webkit-transition: 0.5s
				transition: 0.5s
		&__whatsapp:hover
			color: $color-black
		&__whatsapp, &__call
			display: block
			width: 100%
			max-width: 220px
			height: 40px
			text-align: center
			margin: 10px auto 0px auto
			padding: 8px
			color: $color-white
			font-size: 16px
			border-radius: 5px
			background-color: #25d366
		&__call
			background-color: $color-black
	&-or 	
		text-align: center
		width: 80%
		margin: 10px auto
		overflow: hidden
		span 
			position: relative
			font-size: 1.6rem
			&::before, &::after
				display: block
				width: 1000px
				content: ''
				position: absolute
				border-bottom: 1px solid #000
				top: 50%
			&::before
				right: 50px
			&::after 
				left: 50px
.about
	margin-bottom: 30px
	h2 
		margin-bottom: 40px
	iframe 
		width: 100%
		border: none
		border-radius: 10px
	&-information 
		height: 350px
		display: flex
		flex-direction: column
		justify-content: space-between
	&-text 
		a 
			font-size: 1.6rem
	&-link
		&__png
			margin-bottom: 15px
			img 
				margin: 0 3px
				max-width: 30px

@media only screen and (max-width: 1200px)
	.slider-item
		img 
			max-width: 550px
			width: auto

@media only screen and (max-width: 992px)
	h2 
		font-size: 1.9rem
	.header 
		height: 700px
		&-nav
			&__item		
	.slider-item 
		img 
			max-width: 400px
@media only screen and (max-width: 1023px)
	section
		padding-top: 50px
	.header 
		&-nav
			&__item 
				display: none	
		&-title
			h1 
				font-size: 9rem
			span 
				font-size: 2.4rem
	.slick-center 
		padding: 0 20px
@media only screen and (max-width: 767px)
	p
		font-size: 1.5rem
	// section 
	// 	margin-bottom: 60px
	.header
		max-height: 550px
		&-nav
			height: 70px
			&__logo 
				text-align: center
			&__item, &__phone 
				display: none	
		&-title
			h1 
				font-size: 6rem
			span 
				font-size: 2.2rem
	.shop 
		&-item 
			h3 
				display: none
			&__img 
				img 
					margin-top: 20px
					width: 55px
					height: 60px
			&__link
				margin: -70px auto 0 auto
				h3
					text-align: right
					font-size: 1.6rem
					display: inline-block
				a 
					font-size: 1.6rem
		.slider-item 
			max-height: 100px
			img 
				width: 100%
	.rent 
		margin-top: 0	
@media only screen and (max-width: 580px)
	.header-title h1 
		padding-top: 150px
	.slider-item
		img 
			max-height: 185px
	.feedback-form
		a
			font-size: 1.4rem
@media only screen and (max-width: 425px)
	.shop 
		&-item 
			&__img 
				img 
					width: 50px
					height: 45px
					margin-left: 30px
			